layout {
    pane split_direction="vertical" {
        pane command="__ide_nvim_server.fish" size="70%" {
						name "editor"
						args "--listen" "/tmp/$($PROJECT_NAME)"
				}
				pane size="30%" 
		}
		pane size=2 borderless=true {
        plugin location="status-bar"
    }
}
